name: "CI Nix"
on:
  pull_request:
  push:
jobs:
  nix:
    name: Nix build
    strategy:
      matrix:
        system: [ x86_64-linux, aarch64-darwin ]
    runs-on: ${{ matrix.system }}
    steps:
    - uses: actions/checkout@v4
    - run: om ci --extra-access-tokens "github.com=${{ secrets.GITHUB_TOKEN }}" run --systems "${{ matrix.system }}"
